*{
    padding: 0px;
    margin: 0px;
   /* font-style: arial;*/
    border:border-box;
}
#navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    
    justify-content: space-evenly;
}

.nav-logo{

    height: 50px;
    width:100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    border: 2px solid transparent;
    margin: 1px;
    padding: 1px 8px 0px 6px;
    border: 2px solid transparent;
}
.nav-logo:hover{
    border: 2px solid white;
}
/*box2*/
.nav-address{
    border:2px solid transparent;
   
}
.nav-address:hover{
    border: 2px solid white;
}
.a1{
    color:#cccccc;
    font-size: 0.1 rem;
    margin-left: 15px;

}
.a2{
    font-size: 1 rem;
    margin-left: 3px;
}
.icon{
    display:flex;
   
}
/*box3*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
   /* background-color:darkorange ;*/
    width:620px;
    height:40px;
    border-radius: 4px;
    border: 2px solid transparent;
}
.nav-search:hover
{
    border:2px solid orange;
}
select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search{
    width:100%;
    font-size: 1rem;
    border:none;

}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255,174,0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/*box4*/
.box4{
    
    background-color: #0f1111;
    border: 2px solid transparent;
}
.en{
    color:#f3f3f3;
    background-color: #0f1111;
}
.box4:hover{
    border: 2px solid white;
}
/*box4*/
span{
    font-size: 0.7rem;
    color: #ffffff;
}
.p20{
    font-size: 0.85rem;
    font-weight: 700;
    color: #ffffff;
}
/*box5*/
.p34{
    font-size: 0.85rem;
    color: #ffffff;
}
.p4{
    font-size: 0.85rem;
    font-weight: 700px;
    color: #ffffff;
}
.box5{
    
    background-color: #0f1111;
    border: 2px solid transparent;
}
.box5:hover{
    border: 2px solid white;
}
.box6{
    
    background-color: #0f1111;
    border: 2px solid transparent;
}
.box6:hover{
    border: 2px solid white;
}
.box7 i{
    font-size: 30px;
}

.box7:hover{
    border: 2px solid white;
}
/*pannel*/
.pannel{
    height:40px;
    background-color: #222F3d;
    display:flex;
    color:white;
    align-items: center;
   justify-content:space-around;

}
.pannel-op p{
    display:inline;
    color:white;
    margin-left: 15px;
    font-weight: bold;
}
.pannel-op {
    width: 70%;
    font-size: 0.85rem;
    margin-left: 15px;
}
.pannel-deals {
    
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero section*/
.hero-section{
    height:350px;
    
    background-image: url("body.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-msg{
    height:40px;
    background-color: white;
    color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 90%;
    margin-top: 250px;
}
.hero-msg a{
    color:#007185;
}
/*shop section*/
.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(246, 255, 0, 0.132);
}
.b{
    /*border: 2px solid black;*/
    height:350px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-img1{
    background-image: url("electronics.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.box-content{
    /*margin-left: 1rem;*/
    margin-right: 1rem;
}
.p1{
    /*margin-left: 1rem;*/
    margin-left: 2rem;
    margin-top: 5px;
    color:#007185;
}
.elec{
    margin-left: 2rem;
    margin-bottom: 5px;;
}
.box-img2{
    background-image: url("bp.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.bb2{
    /*margin-left: 1rem;*/
    margin-left: 1rem;
}
.p2{
    /*margin-left: 1rem;*/
    margin-left: 0.5rem;
    margin-top: 5px;
    color:#007185;
}
.elec1{
    margin-left: 0.5rem;
    margin-bottom: 5px;;
}
/*gbeyur*/
.box-img3{
    background-image: url("dress.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.bb3{
    /*margin-left: 1rem;*/
    margin-left: 1rem;
}
.p3{
    /*margin-left: 1rem;*/
    margin-left: 0.5rem;
    margin-top: 5px;
    color:#007185;
}
.elec2{
    margin-left: 0.5rem;
    margin-bottom: 5px;;
}
/*jjfrg*/
.box-img4{
    background-image: url("com.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.bb4{
    /*margin-left: 1rem;*/
    margin-left: 1rem;
}
.p3{
    /*margin-left: 1rem;*/
    margin-left: 0.5rem;
    margin-top: 5px;
    color:#007185;
}
.elec3{
    margin-left: 0.5rem;
    margin-bottom: 5px;;
}
.box-img10{
    background-image: url("refresh.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.box-img20{
    background-image: url("Spring-new-arrivals.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.box-img30{
    background-image: url("pet.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
.box-img40{
    background-image: url("watch.jpg");
    background-size: cover;
   height:300px;
   width:300px;
   
  
}
footer{
    margin-top: 15px;
}
.f1{
    background-color: #37475a;
    color: white;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.f2{
    background-color: #222f3d;
    color: white;
    height:500px;
    display:flex;
    justify-content: space-evenly;
}
.ger{
    font-size:1.3rem;
}
ul{
    margin-top:25px;
}
ul a{
    display:block;
    font-size: 0.95rem;
    margin-top: 10px;
    color:#dddddd;
}
.f3{
    background-color: #222f3d;
    border-top:0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f4{
    background-color: #0f1111;
    color:white;
    height:80px;
    justify-content: center;
    align-items: center;
}
   /* display:flex;*/
   

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copy{
    padding-top:5px;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
}
